.App {
  text-align: center;

  .sweet-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 50px;
    width: 100%;
    border: solid 1px #256987;
  }

  .questions,
  .about,
  .contacts {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 250px;
    width: 100%;
    border: solid 1px #256987;
  }
  .contacts {
    display: flex;

    .contacts-info,
    .map {
      border: solid 1px #256987;
      margin: 15px;
      width: 100%;
    }
  }

  .about {
    display: flex;
    .contacts-info,
    .about-us {
      border: solid 1px #256987;
      margin: 15px;
      width: 100%;
    }
  }

  .top-header {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 450px;
    width: 100%;
    border: solid 1px #256987;
  }

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


