.Admin {
margin:25px;

  .container {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;

    .menu-block {
      width: 240px;
      border: solid 1px red;

      li {
        padding-bottom: 5px;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        padding-bottom: 4px;
      }

    }

    .item-block {
      margin-left: 25px;
      width: 100%;
    }
  }


}